<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Recommendations</title>
</head>
<body>
    <h1>Anime Recommender</h1>
    <form method="POST">
        <label for="title">Enter Anime Title:</label>
        <input type="text" id="title" name="title" required>
        <button type="submit">Recommend</button>
    </form>
   {% if title %}
        <h2>Recommendations for  "{{title}}":</h2>
        <ul>
        {% for anime in recommendations %}
            <li>{{ anime }}</li>
        {% endfor %}
        </ul>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    {% endif %}
</body>
</html>